.c-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1480px;
}

.c-widget {
  &--2 {
    margin-top: 20px;
    width: calc(16.666667% - 16px);
  }

  &--4 {
    margin-top: 20px;
    width: calc(33.333333% - 10px);
  }

  &--6 {
    margin-top: 20px;
    width: calc(50% - 10px);
  }

  &--8 {
    margin-top: 20px;
    width: calc(66.666666% - 10px);
  }

  &--12 {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 1500px) {
  .c-widget {
    &--2 {
      margin-top: 20px;
      width: calc(33.333333334% - 14px);
    }
  }
}

@media (max-width: 900px) {
  .c-widget {
    &--6, &--8, &--4 {
      margin-top: 20px;
      width: 100%;
    }
  }
}

@media (max-width: $min-md) {
  .c-widget {
    &--2 {
      margin-top: 20px;
      width: calc(50% - 14px);
    }
  }
}

@media (max-width: $min-sm) {
  .c-widget {
    &--2 {
      margin-top: 20px;
      width: 100%;
    }
  }
}
