.c-tag-taxonomy-launcher {
    position: relative;
    width: 40px;
    cursor: pointer;
    text-align: center;
    padding-top: 2px;
    margin-right: 5px;

    &:after {
        content: " ";
        width: 1px;
        background: #ebedf3;
        position: absolute;
        right: -5px;
        top: 0px;
        height: 34px;
    }
}